<h1>Create A New Contact</h1>

<form action='/contacts' method='post'>

  <label for="first_name">First Name</label>
  <input type='text' name='first_name'>

  <label for="last_name">Last Name</label>
  <input type='text' name='last_name'>

  <label for="email">Email</label>
  <input type='text' name='email'>

  <label for="first_name">Note</label>
  <input type='text' name='note'>

  <input type='submit' value='New Contact'>
</form>
