/* THIS IS ALL HEADER STUFF */

header h2 {
  text-align: center;
  font-size: 2.2em;
  background-color: rgb(114, 201, 210);
  padding: 20px;
  margin: 0;
}

.header_links {
  text-align: center;
}

.header_links a {
  display: block;
  font-size: 2em;
  background-color: rgba(244, 144, 62, 1);
  margin: 1px;
  text-decoration: none;
}


/* THIS IS STUFF FOR THE CONTACT LIST */

.contacts {
  max-width: 95%;
  margin: auto;
}

.contacts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts li {
  padding: 10px;
  font-size: 1em;
  background-color: grey;
  margin: 5px;
}

.contacts h3 {
  padding: 10px;
  font-size: 1em;
  background-color: pink;
  margin: 5px;
}

.edit_delete a {
  text-decoration: none;
}


/* THIS IS ALL THE FOOTER STUFF */

footer {
  background-color: rgb(55, 54, 57);
  padding: 10px;
}

footer h4 {
  text-align: center;
  font-size: 0.8em;
  color: white;
  background-color: rgb(55, 54, 57);
}
